
html,
body {
    height: 100%;
}

body {
    padding-top: 80px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

p {
    font-family: "Arial", Georgia, Serif;
}


.titulo {
    font-family: "Comics", Georgia, Arial;
    color: yellow;
}

.lista{
  column-count: 2;
}

.renglon{
  background-color: #ffffff;
  align: center;
}

img{
  max-width: 100%;
  height: auto;
}

.imagen{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
}

.imagen transicion{
  width: 300px;
  height: 300px;
  background: #f1f1f1;
  transition: background 2s, height 3s;
  transition-delay: 3s;
}

.imagen:hover{
  background-color: #f1f1f1;
  height: 300px;
  transform:  translate(10px, 10px);
    color: #000000;
}

/* Home Page Carousel */

.page-header {
  padding-bottom: 9px;
  margin: 80px 0 5px;
  border-bottom: 1px solid #eee;
}

.carousel {
  margin: 60px;
  position: relative;
}

header.carousel {
    height: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

footer {
    margin: 20px 0;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    font-size: 12px;
}

th, td {
    padding: 10px;
}
